<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>

    {{#if isLoggedIn}}
      <p>Welcome back, {{ username }}!</p>
    {{else}}
      <p>Please log in to continue.</p>
    {{/if}}

  </body>
</html>
